/* Oldalszerkezet */

body
{
	background-image: url('img/background.jpg');
	background-size: cover;
	font-family: Arial, sans-serif;
}

main
{
	max-width: 900px;
	width: 80%;
	min-width: 450px;
	margin: 20px auto;
}

main>header, main>nav, main>section, main>footer
{
	padding: 10px;
}

main>header
{
	background-color: lightgreen;
	text-align: center;
}

main>nav
{
	background-color: brown;	
}

main>section
{
	background-color: white;
}

main>footer
{
	background-color: black;
}

/* Általános */

h1, h2, h3
{
	font-family: 'Lobster', cursive;
	margin: 10px 0px;
}


h2
{
	color: brown;
	font-size: 150%;
}

h3
{
	color: black;
	font-size: 120%;
	
}

/* Specifikus */

main>nav a:hover
{
	color: salmon;
	text-decoration: none;
}

main>header h1
{
	color: brown;
	font-size: 400%;
}

main>header p
{
	letter-spacing: 2px;
	margin: 0px;
	color: green;
}

main>header p strong
{
	text-transform: uppercase;
	color: black;
}

main>nav ul
{
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}

main>nav li
{
	display: inline;
	margin-right: 20px;
}

main>nav a, main>nav a:visited
{
	color: white;
	text-decoration: none;
}

main>nav a[href="#"]
{
	color: salmon;
	font-weight: bold;
}

main>section p
{
	text-align: justify;
	line-height: 140%;
}

main>section p strong
{
	color: brown;
}

main>section li
{
	list-style-type: square;
}

main>footer
{
	color: white;
	text-align: center;
}

main>footer strong
{
	color: green;
}